<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Quicker Code</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <section class="header">
        {% set root = get_section(path="_index.md") %}
        {% set aboutme = get_page(path="aboutme.md") %}
        <a class="headerlink" href="{{ root.permalink }}">Home</a>

        <a class="headerlink" href="{{ aboutme.permalink }}">About</a>
    </section>

    <section class="section">
        <div class="mainroll">
            {% block content %} {% endblock %}
        </div>
    </section>
</body>

</html>
